.login-page {

    header {
        display: flex;
        margin-bottom: 50px;
        align-items: center;
        justify-content: center;
    }

    main {
        height: 100px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;

        div {
            width: 250px;
            display: flex;
            align-items: center;
            justify-content: flex-end;

            label {
                font-size: 20px;
                margin-right: 10px;
            }

            input {
                height: 36px;
                font-size: 16px;
            }
        }
    }

    footer {
        display: flex;
        margin-top: 50px;
        justify-content: center;

        button {
            height: 40px;
            margin: 40px;
            color: green;
            cursor: pointer;
            font-weight: bold;
            padding-left: 30px;
            padding-right: 30px;
        }
    }

}